body{
background-color: rgb(134, 133, 133);
}

.inputGroup{
    margin: auto;
    font-family: Arial;
    width:200px;
    height: auto;
    display: inline-flex;
    margin-bottom: 1%;

  };
  .pt{
    margin-top: 2%;
  }
  .btn{
    border-radius: 2 px;
    margin-left: 5%;
  }
  .primaryBtn{
    background-color: black;
    box-shadow: 5px 10 px white;
  }
  .t1{
    margin-left: 2%;
    
  }
  .detailDiv{
    box-shadow: 1px 1px 5px 1px #fff;
    border: white;
    border-style: inset;
    border-width: thin;
    font-size: medium;
    text-align: left;
    background-color:#2125297d;
    width: 600px;
    height: fit-content;
    margin-left: 5%;
    padding-left: 4%;
    padding-right: 10%;
   padding-top: 2%;
   position: relative;
   margin: auto;
  }
  .detailDiv h5{
    text-align:  Center;
    color: blanchedalmond;
  }
  .tableDetail{

    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    
    
  }
  .detailInfoHeader{
    font-weight:600;
    margin-right: 1%;
  
  }
  .detailInfo{
    display: flex;
    padding-right: 4%;
    color :blanchedalmond;
    border-bottom: wheat;
    border-bottom-style: solid;
    border-bottom-width: thin;
    margin-bottom: 12px;

  }
  .detailInfo:last-child{
    border-bottom-style: none;
  }

  .tablediv {
    box-shadow: 1px 1px 5px 1px #fff;
  }
  .mapdiv{
    position: absolute;
    height: 100%;
    width: 70%;
    float: right;
    border-style:groove;
    border-color: black;
    
  }
  .sidePanel{
    float: left;
    margin-left: 70%;
  }
  .maindiv{
    display: flex;
  }